/* Estilos Generales para PC Sena */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Estilos del Encabezado */
header {
    height: 70px;
    background-color: rgb(22, 108, 179);
}

/* Estilos de la Barra de Navegación */
nav {
    border-bottom: 2px inherit black;
    height: 50px;
    text-align: center;
    background-color: rgb(39, 153, 247);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.26);
}

/* Estilos de los Elementos de Lista en la Navegación del Encabezado */
header nav li {
    margin-top: 18px;
    display: inline-block;
}

/* Estilos de los Enlaces en la Navegación del Encabezado */
header nav li a {
    color: rgb(90, 0, 173);
    text-decoration: none;
    padding: 60px;
}

/* Estilos al Pasar el Ratón sobre los Enlaces de Navegación (excepto el primero) */
header nav ul li:not(:first-child) a:hover {
    font-size: 20px;
    color: white;
}

/* Estilos del Primer Elemento de Lista en la Navegación (logo o similar) */
header nav ul li:first-child {
    transform: translateX(-26rem);
}

/* Estilo para el Icono de Hamburguesa (inicialmente oculto) */
.icon-h {
    display: none;
}

/* Estilos para las Secciones Izquierda y Derecha */
.sec_left,
.sec_rigth {
    display: inline-block;
    vertical-align: top;
    width: 49%;
    box-sizing: border-box;
}

/* Estilos de la Sección Izquierda */
.sec_left {
    position: relative;
    top: 40px;
    left: 50px;
    border: 2px solid rgb(76, 139, 235);
    border-radius: 10px;
    background-color: rgba(26, 141, 236, 0.144);
    text-align: start;
    width: 40rem;
    height: 50rem;
    margin-left: 10rem;
    transition: background 0.3s, box-shadow 0.3s, transform 0.3s;
}

/* Estilos al Pasar el Ratón sobre la Sección Izquierda */
.sec_left:hover {
    background-color: #3498db;
    box-shadow: 0 16px 32px rgba(52, 152, 219, 0.4);
    border-color: #21618c;
    color: #fff;
    transform: translateY(-15px);
}

/* Estilos del Botón dentro de la Sección Izquierda al Pasar el Ratón sobre la Sección */
.sec_left:hover button {
    transition: 1s;
    display: block;
}

/* Estilos del Título H2 en la Sección Izquierda */
.sec_left h2 {
    margin-top: 7rem;
    margin-left: 3rem;
    font-size: 40px;
}

/* Estilos del Párrafo en la Sección Izquierda */
.sec_left p {
    margin-top: 1rem;
    margin-left: 3rem;
    margin-right: 2rem;
    font-size: 18px;
}

/* Estilos del Botón en la Sección Izquierda (inicialmente oculto) */
.sec_left button {
    display: none;
    color: #fff;
    background-color: #21618c;
    border: none;
    border-radius: 25px;
    padding: 12px 32px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(33, 97, 140, 0.15);
    transition: background 0.3s, transform 0.2s, box-shadow 0.3s;
    margin-top: 2rem;
    margin-left: 4rem;
}

/* Estilos de la Sección Derecha */
.sec_rigth { 
    position: relative;
    top: 6rem;
    left: 7rem;
}

/* Estilos de la Imagen en la Sección Derecha */
.sec_rigth img { 
    height: 40rem;
    width: 50rem;
    box-shadow: 3px 3px 10px;
}

/* Estilos del Pie de Página */
footer {
    background: #21618c;
    color: #fff;
    text-align: center;
    padding: 2rem 0 1rem 0;
    margin-top: 4rem;
}

/* Estilos del Contenido del Pie de Página */
.footer-content {
    max-width: 900px;
    margin: 0 auto;
}

/* Estilos de los Iconos Sociales en el Pie de Página */
.footer-social {
    margin-top: 10px;
}

/* Estilos de los Enlaces Sociales en el Pie de Página */
.footer-social a {
    color: #fff;
    margin: 0 10px;
    font-size: 1.3rem;
    text-decoration: none;
    transition: color 0.3s;
}

/* Estilos al Pasar el Ratón sobre los Enlaces Sociales */
.footer-social a:hover {
    color: #3498db;
}

/* Media Query para Portátiles (Mi Portatil) */
@media (min-width:1025px) and (max-width:1600px) {

    /* Ajuste del Primer Elemento de Lista en la Navegación para Portátiles */
    header nav ul li:first-child {
        transform: translateX(-12rem);
    }

    /* Ajustes de la Sección Izquierda para Portátiles */
    .sec_left {
        position: relative;
        top: 40px;
        left: 0px;
        border: 2px solid rgb(76, 139, 235);
        border-radius: 10px;
        background-color: rgba(26, 141, 236, 0.144);
        text-align: start;
        width: 40rem;
        height: 30rem; /* Altura reducida para portátiles */
        margin-left: 4rem;
        transition: background 0.3s, box-shadow 0.3s, transform 0.3s;
    }

    /* Ajustes del Título H2 en la Sección Izquierda para Portátiles */
    .sec_left h2 {
        margin-top: 3rem;
        margin-left: 3rem;
        font-size: 40px;
    }

    /* Ajustes del Botón en la Sección Izquierda para Portátiles */
    .sec_left button {
        display: none;
        color: #fff;
        background-color: #21618c;
        border: none;
        border-radius: 25px;
        padding: 12px 32px;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        box-shadow: 0 4px 12px rgba(33, 97, 140, 0.15);
        transition: background 0.3s, transform 0.2s, box-shadow 0.3s;
        margin-top: 2rem;
        margin-left: 4rem;
    }

    /* Ajustes de la Sección Derecha para Portátiles */
    .sec_rigth { 
        position: relative;
        top: 2rem;
        left: 4rem;
    }

    /* Ajustes de la Imagen en la Sección Derecha para Portátiles */
    .sec_rigth img {
        height: 30rem; /* Altura reducida */
        width: 44rem;  /* Ancho reducido */
        box-shadow: 3px 3px 10px;
    }
}

/* Media Query para Tabletas */
@media (min-width: 768px) and (max-width: 1024px) {
    /* Ajustes del Encabezado para Tabletas */
    header {
        height: 80px;
        background-color: rgb(22, 108, 179);
    }

    /* Ajustes de la Navegación para Tabletas */
    nav {
        border-bottom: 2px inherit black;
        height: 50px;
        text-align: center;
        background-color: rgb(39, 153, 247);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.26);
    }

    /* Ajustes de los Elementos de Lista en la Navegación para Tabletas */
    header nav li {
        position: relative;
        right: 50px;
        margin-top: 18px;
        display: inline-block;
    }

    /* Ajustes de los Enlaces en la Navegación para Tabletas */
    header nav li a {
        color: rgb(90, 0, 173);
        text-decoration: none;
        padding: 30px; /* Padding reducido */
    }

    /* Ajustes del Primer Elemento de Lista en la Navegación para Tabletas */
    header nav ul li:first-child {
        transform: none; /* Se quita la transformación */
        position: relative;
        top: 2.5rem;
        left: 1rem;
    }

    /* Ajustes de la Sección Izquierda para Tabletas */
    .sec_left {
        margin-left: auto; /* Centrado o ajuste automático del margen */
        height: 31rem;
    }

    /* Ajustes del Título H2 en la Sección Izquierda para Tabletas */
    .sec_left h2 {
        margin-top: 2rem;
        margin-left: 3rem;
        font-size: 40px;
    }

    /* Ajustes del Botón en la Sección Izquierda para Tabletas */
    .sec_left button {
        margin-top: 3rem;
    }

    /* Ajustes de la Sección Derecha para Tabletas */
    .sec_rigth { 
        top: 6rem;
        left: 4rem;
    }

    /* Ajustes de la Imagen en la Sección Derecha para Tabletas */
    .sec_rigth img { 
        height: 20rem; /* Altura muy reducida */
        width: 40rem;  /* Ancho reducido */
        box-shadow: 3px 3px 10px;
        margin-bottom: 10rem;
    }

}

/* Media Query para Móviles */
@media (max-width: 768px) {
    /* Mostrar Icono de Hamburguesa en Móviles */
    .icon-h {
        display: block;
        transform: translateX(10px) translateY(5px);
    }

    /* Ocultar Navegación Principal por Defecto en Móviles */
    #nav-ham {
        display: none;
    }

    /* Mostrar Navegación al Hacer Clic en el Icono (usando :target) */
    #nav-ham:target {
        display: block;
    }

    /* Estilos de los Enlaces dentro del Menú Hamburguesa */
    #nav-ham a {
        text-decoration: none;
    }

    /* Ajustes del Encabezado para Móviles */
    header {
        height: 2rem; /* Altura muy reducida */
        position: relative;
    }

    /* Estilos de la Navegación Desplegable para Móviles */
    nav {
        width: 100px;
        height: 20rem;
        position: absolute;
        top: 2rem;
        left: 0;
        z-index: 1000; /* Asegura que esté por encima de otros elementos */
    }

    /* Ajustes de la Lista de Navegación para Móviles */
    nav ul {
        position: relative;
        bottom: 30px;
        width: 90px;
    }

    /* Ajustes de los Elementos de Lista en la Navegación para Móviles */
    nav ul li {
        margin-left: 10px;
        margin-right: 20px;
        display: block; /* Elementos en bloque, uno debajo del otro */
    }

    /* Ajustes de la Sección Izquierda para Móviles */
    .sec_left {
        position: relative;
        top: 40px;
        left: auto; /* Se quita el posicionamiento izquierdo fijo */
        right: 7rem; /* Ajuste de posición derecha */
        border: 2px solid rgb(76, 139, 235);
        border-radius: 10px;
        background-color: rgba(26, 141, 236, 0.144);
        text-align: start;
        width: 20rem; /* Ancho reducido significativamente */
        height: 50rem;
        margin-left: 10rem;
        transition: background 0.3s, box-shadow 0.3s, transform 0.3s;
    }
    
    /* Ajustes del Título H2 en la Sección Izquierda para Móviles */
    .sec_left h2 {
        margin-top: 1rem;
        margin-left: 2rem;
        font-size: 40px;
    }

    /* Ocultar Sección Derecha en Móviles */
    .sec_rigth { 
        display: none;
        left: 10px;
        margin-bottom: 4rem;
    }
    
}
